<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用 springside3 工具包中的 SpringContextHolder 来保存 Spring ApplicationContext -->
    <bean id="springContextHolder" class="com.zicongcai.thirdparty.SpringContextHolder" lazy-init="false"/>

    <!-- 使用 annotation -->
    <context:annotation-config/>

    <!-- 使用 annotation 自动注册 bean,并检查 @Controller, @Service, @Repository 注解是否已被注入 -->
    <context:component-scan base-package="com.zicongcai"/>

    <!-- hibernate属性配置 -->
    <context:property-placeholder location="classpath:conf/hibernate/hibernate.properties"/>

    <!-- hibernate配置 -->
    <import resource="classpath:conf/spring/applicationContext-hibernate.xml"/>

    <!-- quartz配置 -->
    <import resource="classpath:conf/spring/applicationContext-quartz.xml"/>
</beans>
